// README
// This is only a .env example
// Do not change this file, adding your GITHUB TOKEN here!
// Use cp or mv (like this: cp env.example .env), then edit .env with your GITHUB TOKEN.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid public share your key!)
REACT_APP_GITHUB_TOKEN = "3f3a2d25e9ba68f1ac9ae13487817856d709eacc"
